/* PT Sans 400*/
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
/* PT Sans 700*/
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
/* INDEX.html */
html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
}
.main-container{
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.button{
    color: #000000;
    font-family: inherit; 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* HEADER */
.header-top {
    display: flex;
    max-width: 1060px;
    margin: 0 auto ;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    background: #ffffff;
    height: 64px;
}
.header-top-link{
    margin-right: 30px ;
}
.header-top-link{
    z-index: 2;
}
.navigation{
    display: flex;
    width: 891px;
}
.navigation-list{
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation-user{
    max-width: 300px;
    margin-left: auto;
}
.navigation-link {
    display: block;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 20px 17px;
}
.navigation-user .navigation-link{
    min-width: 16px;
    min-height: 22px;
}
.navigation-item-button{
    margin-left: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #756257;
    color: #ffffff;
    width: 160px;
    border-radius: 4px;
}
.navigation-link-button{
    display: block;
    padding: 9px 30px;
    color: #ffffff;
}
.navigation-item-button + button{
    font-size: 16px;
    line-height: 20px;
}
.header-bottom-logo-container {
    color: #000000;
    background-image: url(../images/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
}

.header-bottom-logo{
    padding-top: 51px ;
    padding-bottom: 82px;
    display: block;
    margin: 0 auto 63px;
}
.header-bottom-text{
    background-color:#ffffff;
    max-width: 720px;
    margin: 0 auto 81px;
}
.header-bottom-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 31px;
}
.header-bottom-subtitle {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}
/* MAIN*/

.advantages-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 384px 384px 384px 384px;
    max-width: 1200px ;
    height: 1535px;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    align-content:center;
}

.advantages-item:first-child{
    grid-column: 1/2;
    grid-row: 1/2;
}
.advantages-item:nth-child(2){
    grid-column: 2/-1;
    grid-row: 1/2;
}

.advantages-item:nth-child(3){
    grid-column: 1/2;
    grid-row: 2/3;
}
.advantages-item:nth-child(6){
    grid-column: 1/3;
    grid-row: 3/4;
}
.advantages-title,
.advantages-subtitle,
.advantages-description{
    margin: 0;
    padding: 0;
}
.advantages-item:nth-child(3) img{
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.advantages-item:nth-child(4) img{
    margin-top: 91px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.advantages-item:nth-child(5) img{
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.advantages-list li:nth-child(1),
.advantages-list li:nth-child(7) {
    color: #ffffff;
    background-color: #83b3d3;
}
.advantages-list li:nth-child(1) h3,
.advantages-list li:nth-child(7) h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    background-color: #83b3d3;
    text-transform: uppercase;
    max-width: 220px;
    margin: 98px auto 30px;
}
.advantages-list li:nth-child(1) p,
.advantages-list li:nth-child(7) p{
    max-width: 220px;
    margin: 0 auto 30px;
}
.advantages-list li:nth-child(3),
.advantages-list li:nth-child(5),
.advantages-list li:nth-child(8),
.advantages-list li:nth-child(10) {
    color: #333333;
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list li:nth-child(3) h4,
.advantages-list li:nth-child(4) h4,
.advantages-list li:nth-child(5) h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    max-width: 150px;
    margin: 0 auto 19px
}
.advantages-list li:nth-child(3) p,
.advantages-list li:nth-child(4) p,
.advantages-list li:nth-child(5) p
{
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.advantages-list li:nth-child(4) p,
.advantages-list li:nth-child(5) p
{
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.advantages-list li:nth-child(8) h3,
.advantages-list li:nth-child(9) h3,
.advantages-list li:nth-child(10) h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    max-width: 150px;
    margin: 97px auto 0px;
}

.advantages-list li:nth-child(8) p,
.advantages-list li:nth-child(9) p,
.advantages-list li:nth-child(10) p{
    max-width: 250px;
    margin: 30px auto;
}
.advantages-list li:nth-child(4) {
    color: #333333;
    background-color: #ffffff;
}

.advantages-list li:nth-child(9) {
    color: #333333;
    background: rgba(131, 179, 211, 0.2);
}
/* SEARCH */
.search {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}
.search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 91px auto 29px;
}
.search-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    max-width: 720px;
    margin: 0 auto 56px;
}
.search-link {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background: #756257;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 575px;
    padding: 15px 0 10px 0;
    margin: 0 auto 93px;
    border-radius: 10px;
}
/* NEWSLETTER*/
.newsletter {
    background-image: url(../images/newsletter-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    color: #ffffff;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 85px;
}
.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto 29px;
}
.newsletter-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    max-width: 520px;
    margin: 0 auto 45px;
    align-items: center 
}
.newsletter-email {
    display: inline-block;
    background-color: #f2f2f2;
    color: #000000;
    opacity: 0.6;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding: 21px 18px 19px 22px;
    border: 0;
    border-radius: 10px 0px 0px 10px;
    width: 561px;
}
.newsletter-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    background-color: #83b3d3;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 19px 10px 24px 10px;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    width: 200px;
    margin-left: -4px;
    margin-bottom: 6px;
    width: 200px;
    vertical-align: middle;
}
/* FOOTER */
.page-footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1060px;
    background-color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 30px;
}

.page-footer a {
    color: #000000;
    text-decoration: none;
}
.footer-social{
    display: flex;
    align-items: center;
    max-width: 200px;
    margin-right: 215px;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
.footer-social-item {
    width: 18px;
    height: 15px;
  }
.footer-social-item:not(:last-child){
    margin-right: 29px;
  }
.footer-contacts-adress-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
}
.htmlacademy-link{
    margin-left: auto;
    max-width: 240px;
    margin-top: 3px;
    margin-right: 3px;
}
/* CATALOG.html*/
.main-inner {
    background-color: #ffffff;
    color: #000000;
}
.inner-header {
    padding-top: 36px;
    background-color: #e5e5e5;
    background-image: url(../images/catalog-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
}
.inner-header-container{
    max-width: 1060px;
    margin: 0 auto;
}
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
}
.breadcrumbs{
    display: flex;
    margin: 0;
    padding: 0 0 37px;
    list-style-type: none;
}

.breadcrumbs-link {
    margin-right: 26px;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
}
.catalog-filter{
    display: flex;
}
.catalog-filter-list{
    list-style: none;
}
.catalog-filter-group:first-child{
    margin-right: 67px;
}
.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.control {
    font-size: 18px;
    line-height: 23px;
}
.catalog-filter-button{
    display: flex;
    flex-direction: column;
    margin-left: auto; 
}
.catalog-filter-button{
    justify-content: center;
}
.button-apply {
    font-family: "PT Sans", Arial, sans-serif;
    background-color: #83b3d3;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}
.button-reset {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: none;
}
.sorting-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    max-width: 1060px;
    margin: 0 auto;
}
.sorting-container .button{
    width: 48px;
    height: 48px;
    
}
.sorting-container  a:not(:first-child){
    margin-left: 8px;
}
.sorting-result {
    width: 340px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-right: 192px;
}
.select-control {
    color: #333333;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    height: 48px;
    margin-right: auto;
}
.catalog-container{
    display: flex;
    flex-direction: column;
    max-width: 1060px;
    margin: 0 auto;
}
.catalog-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.catalog-card-link {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;
}
.catalog-card-group,
.catalog-card-price {
    color: #333333;
}
.catalog-card-button-more {
    color: #ffffff;
    background-color: #756257;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.catalog-card-button-favorites {
    font-family: "PT Sans", Arial, sans-serif;
    color: #ffffff;
    background-color: #83b3d3;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.catalog-card-star::before {
    content: url(../images/star.svg);
    background-repeat: no-repeat;
    background-size: 18px 16px;
}
.catalog-card-rait {
    background-color: #f2f2f2;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.show-more-container{
    margin: 0 auto;
}
.pagination-show-more {
    background-color: #83b3d3;
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.sorting-container{
    display: flex;
}
.pagination{
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 301px;
    list-style-type: none;
}
.pagination-item:not(:last-child){
    margin-right: 8px;
}

.pagination-item {
    background: #83b3d3;
    border-radius: 4px;
}
.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 14px 14px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.pagination-current {
    background-color: #f2f2f2;
    color: #000000;
    border-radius: 4px;
}
.number-sorting{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.sorting-card-list,
.select-control-sorting {
    margin: 0;
    padding: 0;
    color: #333333;
}
.select-control-sorting{
    margin-left: 51px;
    padding: 13px 15px;
    width: 160px;
}
.newsletter-noimage {
    color: #000000;
    background-image: none;
    background-color: #ffffff;
}
.newsletter-text-noimage {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
