/* PT Sans 400*/
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
/* PT Sans 700*/
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
/* INDEX.html */

html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
}
.main-container{
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button{
    display: inline-block;
    box-sizing: border-box;
    color: #000000;
    font-family: inherit; 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

/* HEADER */
.header-top {
    display: flex;
    max-width: 1060px;
    margin: 0 auto ;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    background: #ffffff;
    height: 64px;
}
.header-top-link{
    margin-right: 30px ;
}
.header-top-link{
    z-index: 2;
}
.navigation{
    display: flex;
    width: 891px;
}
.navigation-list{
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation-user{
    max-width: 264px;
    margin-left: auto;
}
.navigation-link {
    display: block;
    position: relative;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 20px 17px 19px 17px;
}
.navigation-link:hover{
    color: #756257;
}
.navigation-link:focus{
    color: #756257;
}
.navigation-link:active{
    color: #756257;
    opacity: 0.3;
}
.navigation-link:hover .navigation-icon {
    fill:  #756257;
}
.navigation-link-current::before {
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 15px;
    height: 2px;
    background-color:  #756257;
    content: "";
  }
.navigation-link:focus .navigation-icon {
    fill: #756257;
}
.navigation-link:active .navigation-icon {
    fill:  #756257;
    opacity: 0.3;
}
.navigation-link-button:hover{
    background-color:#615048;
    border-radius: 4px;
}
.navigation-link-button:focus{
    background-color:#615048;
    border-radius: 4px;
    border:none;
    outline: 3px solid #83B3D3;
}
.navigation-link-button:active{
    background-color:#615048;
    opacity: 0.3;
    border-radius: 4px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigation-user .navigation-link{
    min-width: 18px;
    min-height: 18px;
    padding-top: 24px;
    padding-bottom: 23px;
    padding-left: 12px;
    padding-right: 12px;
}

.navigation-item-button{
    margin-left: auto;
    align-self: center;
    background-color: #756257;
    color: #ffffff;
    width: 160px;
    border-radius: 4px;
}
.navigation-link-button{
    display: block;
    padding: 9px 15px;
    color: #ffffff;
}
.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}
.navigation-item-button + button{
    font-size: 16px;
    line-height: 20px;
}
.header-bottom-logo-container {
    color: #000000;
    background-image: url(../images/index-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
}

.header-bottom-logo{
    padding-top: 51px ;
    padding-bottom: 82px;
    display: block;
    margin: 0 auto 63px;
}
.header-bottom-text{
    background-color:#ffffff;
    max-width: 720px;
    margin: 0 auto 81px;
}
.header-bottom-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 31px;
}
.header-bottom-subtitle {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}
/* MAIN*/

.advantages-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 384px 384px 384px 384px;
    max-width: 1200px ;
    height: 1535px;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    align-content:center;
}

.advantages-item:first-child{
    grid-column: 1/2;
    grid-row: 1/2;
}
.advantages-item:nth-child(2){
    grid-column: 2/-1;
    grid-row: 1/2;
}

.advantages-item:nth-child(3){
    grid-column: 1/2;
    grid-row: 2/3;
}
.advantages-item:nth-child(6){
    grid-column: 1/3;
    grid-row: 3/4;
}
.advantages-title,
.advantages-subtitle,
.advantages-description{
    margin: 0;
    padding: 0;
}
.advantages-item:nth-child(3) img{
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.advantages-item:nth-child(4) img{
    margin-top: 91px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.advantages-item:nth-child(5) img{
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.advantages-list li:nth-child(1),
.advantages-list li:nth-child(7) {
    color: #ffffff;
    background-color: #83b3d3;
}
.advantages-list li:nth-child(1) h3,
.advantages-list li:nth-child(7) h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    background-color: #83b3d3;
    text-transform: uppercase;
    max-width: 220px;
    margin: 98px auto 30px;
}
.advantages-list li:nth-child(1) p,
.advantages-list li:nth-child(7) p{
    max-width: 220px;
    margin: 0 auto 30px;
}
.advantages-list li:nth-child(3),
.advantages-list li:nth-child(5),
.advantages-list li:nth-child(8),
.advantages-list li:nth-child(10) {
    color: #333333;
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list li:nth-child(3) h4,
.advantages-list li:nth-child(4) h4,
.advantages-list li:nth-child(5) h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    max-width: 150px;
    margin: 0 auto 19px
}
.advantages-list li:nth-child(3) p,
.advantages-list li:nth-child(4) p,
.advantages-list li:nth-child(5) p
{
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.advantages-list li:nth-child(4) p,
.advantages-list li:nth-child(5) p
{
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.advantages-list li:nth-child(8) h3,
.advantages-list li:nth-child(9) h3,
.advantages-list li:nth-child(10) h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    max-width: 150px;
    margin: 97px auto 0px;
}

.advantages-list li:nth-child(8) p,
.advantages-list li:nth-child(9) p,
.advantages-list li:nth-child(10) p{
    max-width: 250px;
    margin: 30px auto;
}
.advantages-list li:nth-child(4) {
    color: #333333;
    background-color: #ffffff;
}

.advantages-list li:nth-child(9) {
    color: #333333;
    background: rgba(131, 179, 211, 0.2);
}
/* SEARCH */
.search {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}
.search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 91px auto 29px;
}
.search-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    max-width: 720px;
    margin: 0 auto 56px;
}
.search-link {
    display: block;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background: #756257;
    color: #ffffff;
    text-decoration: none;
    max-width: 575px;
    align-self: center;
    padding: 15px 0 10px 0;
    margin: 0 auto 93px;
    border-radius: 10px;
}
.search-link:hover{
    background: #615048;
}
.search-link:focus{
    outline: 3px solid #83B3D3;
}
.search-link:active{
    color: rgba(255, 255, 255, 0.3);
}

/* NEWSLETTER*/
.newsletter {
    background-image: url(../images/newsletter-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    color: #ffffff;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 93px;
}
.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto 29px;
}
.newsletter-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    max-width: 520px;
    margin: 0 auto 45px;
    align-items: center 
}
.newsletter-form{
    display: flex;
    justify-content: center;
}
.newsletter-email {
    display: inline-block;
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-left:22px;
    padding-right:19px;
    border: 0;
    border-radius: 10px 0px 0px 10px;
    width: 600px;
}
.newsletter-email:hover{
    background: #E6E6E6;
}
.newsletter-email:focus:valid{
    outline: 3px solid #83B3D3;
}

.newsletter-email:invalid{
    outline: 2px solid #FF5757;
}
.newsletter-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    background-color: #83b3d3;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    width: 200px;
    height: 61px;
    vertical-align: middle;
}
.newsletter-button:hover{
    background: #68A2CA;
}
.newsletter-button:focus{
    outline: 3px solid #756257;
}
.newsletter-button:active{
    color: rgba(255, 255, 255, 0.3);
}
/* FOOTER */
.page-footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1056px;
    background-color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 30px;
}

.page-footer a {
    color: #000000;
    text-decoration: none;
}
.footer-social{
    display: flex;
    align-items: center;
    width: 150px;
    margin-right: 212px;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
.footer-social-item {
    display: flex;
    text-align: center;
  }
.footer-social-item:not(:last-child){
    margin-right: 5px;
  }
.footer-social-link {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 40px;
    height: 40px;
}
.footer-social-link:hover  {
    fill:#68A2CA;
}
.footer-social-link:focus{
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}
.footer-social-link:active{
    outline: none;
    border-radius: 10px;
    opacity: 0.3;
}
.social-icon{
    fill:#83B3D3;
}
.social-icon:hover{
    fill:#68A2CA;
}

  

.footer-contacts-adress-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
}
.footer-contacts-adress-phone:hover{
    color: #756257;
}
.footer-contacts-adress-phone:focus{
    color: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}
.footer-contacts-adress-phone:active{
    outline: none;
    opacity: 0.3;
}
.htmlacademy-link{
    display: flex;
    margin-left: auto;
    max-width: 240px;
    align-self: center;
}
.htmlacademy-link:focus{
    outline: 3px solid #83B3D3;
    border-radius: 10px;
    fill: #756257;
}
.htmlacademy-link:hover{
    fill: #756257;
}
.htmlacademy-link:active{
    outline: none;
    opacity: 0.3;
}
/* CATALOG.html*/
.main-inner {
    background-color: #ffffff;
    color: #000000;
}
.inner-header {
    padding-top: 36px;
    background-color: #e5e5e5;
    background-image: url(../images/catalog-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}
.inner-header-container{
    max-width: 1060px;
    margin: 0 auto;
}
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
}
.breadcrumbs{
    display: flex;
    margin: -7px 0 0 3px;
    padding: 0 0 37px;
    list-style-type: none;
}
.breadcrumbs-link::after{ /* ??????????????????*/
    content: url(../images/arrow.svg); 
    position: relative;
    left: 8px;
}
.breadcrumbs-link {
    margin-right: 17px;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
}
.catalog-filter{
    display: flex;
}
.catalog-filter-list{
    list-style: none;
}
.catalog-filter-group:first-child{
    margin-right: 67px;
}
.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.control {
    font-size: 18px;
    line-height: 23px;
}
.catalog-filter-button{
    display: flex;
    flex-direction: column;
    margin-left: auto; 
}
.catalog-filter-button{
    justify-content: center;
}
.button-apply {
    font-family: "PT Sans", Arial, sans-serif;
    background-color: #83b3d3;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}
.button-reset {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: none;
}
.sorting-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    max-width: 1057px;
    margin: 44px auto 53px;
}
.sorting-container .button{
    width: 48px;
    height: 48px;
    
}
.sorting-container  a:not(:first-child){
    margin-left: 8px;
}
.sorting-result {
    width: 340px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-right: 189px;
}
.select-control {
    color: #333333;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    height: 48px;
    margin-right: auto;
    width: 286px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 11px;
}
.select-control:hover{
    border-color: #83B3D3;
}
.select-control:focus{
    border-color: #83B3D3;
}
.select-control:active{
    border-color:#333333; 
    opacity: 0.3;
}
.card-grid-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}
.card-grid-toggle:hover{
    border-color:#83B3D3;
}
.card-grid-toggle:focus{
    border-color:#83B3D3;
}
.card-grid-toggle-current{
    border: 2px solid #000000;
}
.catalog-container{
    display: flex;
    flex-direction: column;
    max-width: 1060px;
    margin: 0 auto;
}
.catalog-list{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 34px;
}
.catalog-card-image-link{
    display: flex;
}
.catalog-card-image-link:hover{
    opacity: 0.6;
}
.catalog-card-image-link:focus{
    outline: 3px solid #83B3D3;
}
.catalog-card-image-link:active{
    opacity: 0.3;
}
.catalog-card{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.catalog-card-title-link {
    text-decoration: none;
    padding: 16px 0 17px;
}
.catalog-card-title{
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin: 0;
    padding: 0;
}
.catalog-container-group-price{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.catalog-container-button{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.catalog-card-group,
.catalog-card-price {
    display: inline;
    color: #333333;
    margin: 0;
}
.catalog-card-group{
    margin-right: 78px;
}
.catalog-card-button-more {
    box-sizing: border-box;
    color: #ffffff;
    background-color: #756257;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 23px 8px;
    border-radius: 4px;
}
.catalog-card-button-more:hover{
    background: #615048;
}
.catalog-card-button-more:focus{
    background: #615048;
    outline: 3px solid #83B3D3;
}
.catalog-card-button-more:active{
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}
.catalog-card-button-favorites {
    font-family: "PT Sans", Arial, sans-serif;
    color: #ffffff;
    background-color: #83b3d3;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 21px 8px;
    border-radius: 4px;
}
.catalog-card-button-favorites:hover{
    background: #68A2CA;
    outline: 1px solid #756257;
}
.catalog-card-button-favorites:focus{
    background: #68A2CA;
    outline: 3px solid #756257;
}
.catalog-card-button-favorites:active{
    color: rgba(255, 255, 255, 0.3);
    outline: 1px solid #756257;
}
.button-favorite{
    padding-left: 16px;
    background-color: #7DB54F;
}
.button-favorite:hover{
    background: #6C9E42;
    outline: 1px solid #756257;
}
.button-favorite:focus{
    background: #6C9E42;
    outline: 3px solid #756257;
}
.button-favorite:active{
    color: rgba(255, 255, 255, 0.3);
    outline: 1px solid #756257;

}
.catalog-card-stars-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog-card-stars  {
    display: flex;
    width: 118px;
}
.catalog-card-star{
    background-image: url(../images/star.svg);
    width: 18px;
    height: 17px;
}
.catalog-card-star:not(:last-child){
    margin-right: 7px;
}
.catalog-card-rait {
    display: inline;
    background-color: #f2f2f2;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 33px 8px;
    margin: 0;
}
.show-more-container{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #E6E6E6 ;
    border-bottom: 1px solid #E6E6E6 ;
}
.pagination-show-more {
    display: block;
    background-color: #83b3d3;
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    min-width: 620px;
    padding: 17px;
    border: none;
    border-radius: 10px;
}
.pagination-show-more:hover{
    background: #68A2CA;
}
.pagination-show-more:focus{
    background: #68A2CA;
    outline: 3px solid #756257;
}
.pagination-show-more:active{
    background: #68A2CA;
    outline: none;
    color: rgba(255, 255, 255, 0.3);
}
.pagination-container{
    display: flex;
    margin: 29px auto 73px;
    max-width: 1060px;
}
.pagination{
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 301px;
    list-style-type: none;
}

.pagination-item:not(:last-child){
    margin-right: 8px;
}

.pagination-item {
    background: #83b3d3;
    border-radius: 4px;
    color: #ffffff;
}
.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 14px 14px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
}
.pagination-link:hover{
    background: #68A2CA;
    color: #ffffff;
}
.pagination-link:focus{
    background: #68A2CA;
    color: #ffffff;
    outline: 3px solid #756257;
}
.pagination-link:active{
    background: #68A2CA;
    outline: none;
    color: rgba(255, 255, 255, 0.3);
}
.pagination-current {
    background-color: #f2f2f2;
    color: #000000;
    border-radius: 4px;
}
.number-sorting{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.sorting-card-list,
.select-control-sorting {
    margin: 0;
    padding: 0;
    color: #333333;
}
.select-control-sorting{
    margin-left: 53px;
    padding: 15px 15px;
    width: 160px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}
.select-control-sorting:hover{
    border: 2px solid #83B3D3;
}   
.select-control-sorting:focus{
    border-color: #83B3D3;
}
.select-control-sorting:active{
    border-color:#333333; 
    opacity: 0.3;
}
.newsletter-noimage {
    color: #000000;
    background-image: none;
    background-color: #ffffff;
    padding-top: 0;
    padding-bottom: 140px;

}
.newsletter-text-noimage {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    max-width: 520px;
    margin: 46px auto 45px;
}
